@import url(./main.css);

/* INPUT PADRÃO*/

.reservas {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.contatos {
    margin-top: 100px;
    width: 35%;
    height: 350px;
    background-color: rgba(120, 118, 118, 0.2);
    padding: 33px 50px 0 50px;
    border-radius: 7px;
}

.icone-rede-social {
    margin-left: 30px;
    margin-top: 12px;
}

.icones-contatos img {
    width: 45px;
}

.icone-contato {
    width: 90px;
}

.reservas form {
    width: 45%;
    background-color: rgba(120, 118, 118, 0.2);
    padding: 33px 50px 0 50px;
    border-radius: 7px;
}

.reservas h3 {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 26px;
}

.reservas .padrao {
    margin-bottom: 23px;
    text-align: left;
    display: flex;
}

.reservas .padrao .label_padrao {
    text-align: right;
    margin: 0;
    font-size:20px;
}

.reservas .padrao .input_padrao {
    text-align: left;
    margin: 0;
    position: relative;
}

.reservas .padrao input {
    width: 379px;
    height: 25px;
    margin-left: 10px;

    font-size: 14px;
    padding: 5px;
}

.numero_da_reserva input {
    width: 290px !important;
}

.label_suas_reservas {
    font-size: 20px;
}


/* ORGANIZAR DISTANCIA INPUTS */

.nome {
    left: 25px;
}

.email {
    left: 26px;
}

.telefone {
    left: 5px;
}


/* SELECT */

.select {
    margin-bottom: 23px;
    display: flex;
}

.select .label_select {
    text-align: right;
    font-size: 20px;
    margin: 0;
}

.select .input_select {
    font-size: 14px;
    margin-left: 104px;
    padding: 3px;
}

/* DATA */

.data {
    display: flex;
    margin-bottom: 23px;
}

.data .label_data {
    font-size: 20px;
    text-align: right;
    margin: 0;
}

.data .input_data {
    margin-right: 1px;
}

.data .input_data input {
    font-size: 14px;
    padding: 3px;
    width: 145px;
    margin-left: 190px;
}

/* NUMBER */

.number {
    display: flex;
    margin-bottom: 23px;
}

.number .label_number {
    margin: 0;
    text-align: left;
    font-size: 20px;
}

.number .input_number input {
    padding: 4px;
    margin-left: 103px;
}


/* TEXTAREA */

.textarea .label_textarea {
    margin-bottom: 12px;
    font-size: 20px;
}

.textarea .input_textarea textarea {
    resize: none;
    padding: 5px;
    font-size: 14px;
}

/* FILE */

.textarea .input_file input {
    margin: 5px 0 18px 0;
    font-size: 15px;
}


/* BOTAO */

.botao_reservas button {
    margin: 20px 0 25px 100px;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
    border-radius: 7px;
    border: 1px solid rgb(0, 0, 0, 0.9);
    background-color: whitesmoke;
    
}

.botao_reservas button:hover {
    background-color: rgba(120, 118, 118,0.4);
    cursor: pointer;
}

.botao_reservas button:active {
    background-color: white;;
}
